#stats-main {
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: fixed;
    top: 60px;
    right: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}


#temp-stat {
    border: 2px solid yellow;
}

#alerts-stat {
    border: 2px solid green;

}