.page-parent{
    border: 2px solid orange;
    padding: 20px;
    width: 700px;
    display: flex;
    flex-direction: column;
}

.intro-text {
    display: flex;
    flex-direction: column;
}

.welcome-text > p{
    font-size: 1.6rem;
}